   *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
   }
.container{
   width: 100%;
   height: 100vh;
   background:url("imges/th.jpg");
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
}

.calculator{
    background:#3a4452;
    padding: 20px;
    border-radius: 10px;
     box-shadow: -8px -5px 15px rgb(56, 56, 55),8px 5px 15px rgb(0,0,0.2);
}

.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -5px 15px rgb(56, 56, 55),8px 5px 15px rgb(0,0,0.2);
    background: transparent;
    font-size: 25px;
    color: white;
    cursor:grab;
    margin: 5px;
}

form .display{
   display: flex;
   justify-content: flex-end;
   margin: 20px 0px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    
}

form input.equal{
    width: 135px;
}

form input.opretor{
    color: blue;
}

h1{
    text-align: center;
    text-shadow: -3px -3px 10px rgb(232, 238, 239);
}

